 
  .card_info {
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 700;
    min-width: 250px;
    width: max-content;
    height: max-content;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #131212;
    color: #09d61e;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    margin: 40px 35px 10px;
    transition: 0.5s;
    animation: anim-card 5s linear infinite;
  }
  
  @keyframes anim-card {
  
    0%,
    100% {
      box-shadow: 0 0 0 0 #098309;
    }
  
    25% {
      box-shadow: 0 0 15px 4px #098309;
    }
  
    50% {
      box-shadow: 0 0 30px 8px #098309;
    }
  
    75% {
      box-shadow: 0 0 15px 4px #098309;
    }
  }
  
  .info_block {
    min-width: 150px;
  }

  .info_block_left {
    margin-right: 20px;
  }

  .no_filled_title {
    padding: 10px 20px;
    margin-top: 40px;
    justify-self: center;
    font-size: 3rem;
    font-weight: 700;
    color: #098309;
    animation: anim-text 5s linear infinite;
  }

  @keyframes anim-text {
  
    0%,
    100% {
      color:#098309;
    }
  
    25% {
      color:#51a751;
    }
  
    50% {
      color:#e8ece8;
    }
  
    75% {
      color:#51a751;
    }
  }