.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.title {
    margin-top: 45px;
    font-weight: 700;
    font-size: 1.8rem;
}


@media screen and (max-width: 530px) {
    .title {
        font-size: 1.4rem;
    }

}