.search_button {
    cursor: pointer;
    box-sizing: border-box;
    background-color: #f0f8ff;
    height: 40px;
    padding: 8px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.2rem;
    transition: .5s;
}

.search_button:hover {
    background-color: #d1d2d2;
}