.results_container {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 30px;
}

.card {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px 15px;
  width: 340px;
  min-height: 260px;
  border-radius: 15px;
  background-color: rgb(53, 52, 52);
}

.title {
  font-weight: 700;
  font-size: 1.3rem;
}

.description {
  font-style: italic;
}

.loader {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background-image: url('../../assets/loader.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1200px) {
  .results_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .results_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 530px) {
  .title {
    font-size: 1.1rem;
  }

  .card {
    width: 240px;
  }
}
