.results_container {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 30px;
}

.card {
  box-sizing: border-box;
  text-decoration: none;
  color: #f0f8ff;
  margin: 10px;
  padding: 10px 15px;
  width: 250px;
  min-height: 120px;
  border-radius: 15px;
  background-color: rgba(53, 52, 52, 0.8);
  transition: 0.5s;
}

.card:hover {
  background-color: #575656;
}

.title {
  font-weight: 700;
  font-size: 1.1rem;
}

.description {
  font-size: 0.9rem;
  font-style: italic;
}

.loader {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background-image: url('../../assets/loader.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.no_results_message {
  margin-top: 70px;
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  .results_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .results_container {
    grid-template-columns: 1fr;
  }

  .no_results_message {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 530px) {
  .title {
    font-size: 1rem;
  }

  .card {
    width: 220px;
  }

  .no_results_message {
    font-size: 1rem;
  }
}


.hidden {
  display: none;
}