.changer_wrapper {
  display: flex;
  align-items: center;
}

.arrows_wrapper {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.arrow,
.arrow_active {
  width: 15px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow_active {
  cursor: pointer;
}

.arrow {
  visibility: hidden;
} 

.arrow_top {
  background-image: url('../../public/arrow-top.png');
}

.arrow_bottom {
  background-image: url('../../public/arrow-bottom.png');
}

.item_number {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 5px 3px 0;
  text-align: center;
  font-weight: 700;
  font-size: 0.9rem;
  background-color: #f0f8ff;
  border-radius: 5px;
  color: #000000;
}

.button_install {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  padding: 3px 12px;
  font-size: 0.9rem;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #f0f8ff;
  letter-spacing: 0.5px;
  transition: 0.5s;
  font-style: italic;
  font-weight: 700;
  color: #dd0b86;
}

.button_install:hover {
  background-color: #dad9d9;
}

.title {
  font-weight: 700;
}

@media screen and (max-width: 530px) {
  .changer_wrapper {
    flex-direction: column;
  }
  .button_install {
    margin-top: 10px;
  }
}
