#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.app {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% center;
}
