.details_container {
  margin: 15px 10px;
  box-sizing: border-box;
  padding: 15px 20px;
  width: 300px;
  height: 100vh;
  background-color: #f0fdf9;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_button {
  align-self: flex-end;
  margin-left: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/button-close.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.loader {
  margin: 10px 0;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/loader.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.details_text_title {
  font-size: 1.2rem;
}

.details_text {
  font-weight: 400;
}

.hidden {
  display: none;
}
